<%- include('../partes/head')%>

    <div class="container-fluid">
        <div class="row p-5">
            <!-- ITEMS -->
            <div class="card mb-3 table-responsive">
                <div class="card-header">
                    <i class="fa fa-table"></i>Total de Unidades: <%= totalregistros%>
                </div>
                <!--consulta-->
                <div class="container">
                    <div class="card-body">
                        <div class="card-header">
                            <h3>Pesquisa</h3>
                        </div>
                        <!--consulta municipio-->
                        <form action="/city/" method="POST">
                            <label>Digite o município</label><br>
                            <input type="text" placeholder="Cidade" name="municipio">
                            <!--div class="form-group form-check"-->
                            <button type="submit" class="btn btn-success">Pesquisar</button>
                            <!--/div-->
                        </form>
                        <!--consulta municipio-->
                        <hr>
                        <!--consulta estado-->
                        <form action="/estado/" method="POST">
                            <label>Selecione o Estado</label>
                            <div class="input-group">
                                <select class="custom-select" name="uf">
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA"> Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba </option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul </option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina </option>
                                    <option value="SP">São Paulo </option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Pesquisar</button>
                                </div>
                            </div>
                        </form>
                        <!--consulta estado-->
                    </div>
                </div>
                <hr>
                <table class="table table-bordered table-sm table-condensed" id="dataTable">
                    <thead>
                        <tr>
                            <th>Distribuidora</th>
                            <th>Código da GD</th>
                            <th>Titular da UC</th>
                            <th>Classe</th>
                            <th>Subgrupo</th>
                            <th>Modalidade</th>
                            <th>Qtde UCs recebem os créditos</th>
                            <th>Município</th>
                            <th>UF</th>
                            <th>CEP</th>
                            <th>Data Conexão</th>
                            <th>Fonte</th>
                            <th>Potência Instalada (kW)</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Distribuidora</th>
                            <th>Código da GD</th>
                            <th>Titular da UC</th>
                            <th>Classe</th>
                            <th>Subgrupo</th>
                            <th>Modalidade</th>
                            <th>Qtde UCs recebem os créditos</th>
                            <th>Município</th>
                            <th>UF</th>
                            <th>CEP</th>
                            <th>Data Conexão</th>
                            <th>Fonte</th>
                            <th>Potência Instalada (kW)</th>
                            
                        </tr>
                    </tfoot>
                    <% for(var i = 0; i< products.length; i++) {%>
                    <tbody>
                        <tr>
                            <td><%=products[i].distibuidora%></td>
                            <td><%=products[i].codigo%></td>
                            <td><%=products[i].titular%></td>
                            <td><%=products[i].classe%></td>
                            <td><%=products[i].subgrupo%></td>
                            <td><%=products[i].modalidade%></td>
                            <td><%=products[i].credito%></td>
                            <td><%=products[i].municipio%></td>
                            <td><%=products[i].uf%></td>
                            <td><%=products[i].cep%></td>
                            <td><%=products[i].data%></td>
                            <td><%=products[i].fonte%></td>
                            <td><%=products[i].potencia%></td>
                            
                        </tr>
                    </tbody>
                    <%}%>
                </table>
            </div>
        </div>
        <div class="row">
            <!-- pagination -->
            <% if(pages > 0) {%>
            
            <!-- show pagination if there is pages -->
            <nav class="mx-auto">
            <ul class="pagination">
                <!-- FIRST ITEM -->
                <% if(current == 1) {%>
                <li class="page-item disabled">
                <a class="page-link" href="#">Primeiro</a>
                </li>
                <%}else{%>
                <li class="page-item">
                <a class="page-link" href="/dados/1">Primeiro</a>
                </li>
                <%}%>
                <!-- ITEMS  -->
                <% var i = (Number(current)>5 ? Number(current)-4:1)%>
                <%if(i!==1){%>
                <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
                </li>
                <%}%>
                <%for(; i <=(Number(current)+4)&& i <= pages; i++){%>
                    <% if(i==current){%>
                <li class="page-item active">
                <a class="page-link" href="<%=i%>">
                    <%= i%>
                    
                </a>
                </li>
                <%}else {%>
                <li class="page-item">
                <a class="page-link" href="/dados/<%=i%>">
                    <%= i%>
                </a>
                </li>
                <%}%>
                <%if(i == Number(current)+4 && i < pages){%>
                <li class="page-item disabled">
                <a class="page-link" href="#">...</a>
                </li>
                <%}%>
                <%}%>
            
                <!-- LAST ITEM -->
                <%if(current == pages){%>
                <li class="page-item disabled">
                <a class="page-link" href="#">
                    Ultimo
                </a>
                </li>
                <%}else{%>
                <li class="page-item">
                <a class="page-link" href="/dados/<%= pages%>">
                    Ultimo
                </a>
                </li>
                <%}%>
            </ul>
            </nav>
            <%}%>
        </div>
    </div>
</body>
<!--Rodapé-->
<%- include('../partes/footer')%>
</html>
<!--Rodapé-->